.backpack{
width:10%;

}
body{
	text-align: center;
}
#banner
{
	background: url(Banner.jpg) no-repeat center;
	text-align: center;
	background-position: center center;
	min-height: 400px;
	width: 100%;
	background-size: cover;
	-webkit-background-size: cover;
	color: white;


}
#header
{
font-size: 100px;
font-family: leto;
}
#title
{
	position: fixed;
	left: 14%;
	top:0%;
	font-size: 100px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

 li {
    float: left;
}

 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
